{% extends 'base.html' %}

{% block principal %}

    Banco de Horas {% if object %} - {{ object }} {% endif %}

    <br>
    {% for horaextra in object_list %}
        <a href="{% url 'update_horasextra' horaextra.id %}">{{ horaextra.motivo }} | {{ horaextra.horas }} </a>
        <a href="{% url 'delete_horasextra' horaextra.id %}" class="btn btn-danger">Excluir</a>
        <br>
    {% endfor %}

    {% if not object_list %}
        <h5>Não existe registro de hora extra no banco de dados</h5>
    {% endif %}

    <a href="{% url 'create_horasextra' %}" class="btn btn-primary">Criar</a>
    <a href="{% url 'export_horasextra_csv' %}" class="btn btn-info">Exportar CSV</a>
    <a href="{% url 'export_horasextra_xls' %}" class="btn btn-info">Exportar XLS</a>

{% endblock %}
