{% extends 'base.html' %}

{% block principal %}
    Listar

    {% for colaborador in object_list %}
        <br>
        <a href="{% url 'update_colaborador' colaborador.id %}">{{ colaborador }}</a>
        <a href="{% url 'delete_colaborador' colaborador.id %}">Excluir</a>

    {% endfor %}

    <br>
    <a href="{% url 'create_colaborador'%}" class="btn btn-primary">Criar</a>
    <a href="{% url 'report_colaborador' %}" class="btn btn-info">Relatório de Colaboradores</a>
    <a href="{% url 'report_colaborador_html' %}" class="btn btn-info">Relatório de Colaboradores - HTML</a>

{% endblock %}
